.infinite-table td, .infinite-table th {
    flex-basis: 10% !important;

    &.large {
	    flex-basis: 80% !important;
	}

	&.ui.primary.basic {
	    box-shadow: 0px 0px 0px 0px white inset !important;
	    font-weight: bold !important;
		text-align: center;
		color: #1E5AA8 !important;
		cursor: pointer;
		user-select: none;
	}

	&.no-show {
		background-color: #c2c2c2 !important;
		pointer-events: none;
	}
}
