#logo-stripe-row {
	background: white;
    height: 20%;
    padding: 0;

	 > * {
	    width: 100%;
	}
}

#global-logos {
    height: 55%;
    box-shadow: 0px 3px 3px 1px;
    text-align: center;

    > * {
	    height: 100%;
	    padding: 0.5em 1rem;
	}
}

#local-logos {
	height: 45%;

    > * {
	    height: calc(100% - 1em);
	    padding: 0.5em 10rem;
	}
}
