#logo-stripe-row {
	background: white;
    height: 18.75%;
    padding: 0;

	 > * {
	    width: 100%;
	}
}

#global-logos {
    height: 60%;
    box-shadow: 0px 3px 3px 1px;
    text-align: center;

    > * {
	    height: 100%;
	    padding: 1rem;
	}
}

#local-logos {
	height: 40%;
}
