#logo-stripe-row {
	background: white;
    height: 20%;
    padding: 0;

	 > * {
	    width: 100%;
	}

	&.local-logos-hidden {
		height: 10%;

		#global-logos {
			height: 100%;
			box-shadow: none;
		}
	}
}


#global-logos {
    height: 55%;
    box-shadow: 0px 3px 3px 1px;
    text-align: center;
    display: flex;
    justify-content: center;

    > * {
	    height: 100%;
	    padding: 0.5rem 1rem;
	    object-fit: contain;
	}
}

#local-logos {
	height: 45%;

    .infinite-stripe {
    	&:not(.scrolling) {
    		display: flex;
    		justify-content: space-evenly;
    	}

    	> * {
		    height: 100%;
		    margin: 0;
		    padding: 0.5rem 10vw;
		    object-fit: contain;
		}
    }
}
