#rankings-row.logo-striped {
	height: calc(100vh - 6rem - 20%);
}

#rankings-row:not(.logo-striped) {
	height: calc(100vh - 6rem - 10%);
}

#rankings {
	height: 100%;

	td {
	    padding-top: 0.2rem;
	    padding-bottom: 0.2rem;
	}
}