@import './scss/components/infinite_stripe';
@import './scss/components/infinite_table';
@import './scss/components/timer';
@import './scss/components/settings';

body {
  background: url('~@first-lego-league/user-interface/current/assets/img/background_tile.jpg');
}

.app > .grid-y > .cell:not(.flex-child-grow) {
  height: 15%;
}

.app > .grid-y > .cell.flex-child-grow {
  height: 70%;
}

#logos-stripe, #title-row {
  background: white;
}

#title-row {
  height: 100%;
  margin: 0;
}

#title-row > * {
  margin-bottom: 0;
}

#fll-logo {
  background: url('~@first-lego-league/user-interface/current/assets/img/fll_logo_wide.png');
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}

#challenge-logo {
  background: url('~@first-lego-league/user-interface/current/assets/img/challenge_logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#rankings .callout {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

#rankings .primary {
  font-weight: bold;
}

[role="dialog"], .reveal-overlay {
  overflow-y: hidden !important;
}

.fullscreen .show-on-hover {
  transition: linear 0.2s opacity;
  opacity: 0;
}

.fullscreen .show-on-hover:hover {
  opacity: 1;
}

.high-contrast * {
  background: white;
  color: black !important;
  font-weight: bold;
}
