@import './scss/components/infinite_stripe';
@import './scss/components/infinite_table';
@import './scss/components/timer';
@import './scss/components/settings';
@import './scss/components/title';
@import './scss/components/rankings';
@import './scss/components/logos';

#fll-logo {
  background: url('~@first-lego-league/user-interface/current/assets/images/fll_logo_wide.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#challenge-logo {
  background: url('~@first-lego-league/user-interface/current/assets/images/challenge_logo_horizontal.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.show-on-hover:hover {
    transition: opacity 0.25s linear;
}

.fullscreen .show-on-hover:not(:hover) {
  opacity: 0;
  transition: opacity 0.25s linear;
}
